body {
  background-color: #000;
}

div {
  width: 250px;
  height: 250px;
  background-color: #ff4949;
  margin-bottom: 5px;
  border-radius: 5px;
}

.target {
  background-color: #0066ff;
}

.button-box {
  position: fixed;
  top: 20px;
  right: 20px;
}
