html {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  text-align: center;
}

section {
  width: 50%;
  margin: 50px auto;
  background-color: brown;
  border-radius: 20px;
  padding: 20px;
}

/* will-change property를 사용하면 -> layers를 분리해서 사용할 수 있음. (남용 금지)*/
img {
  z-index: 100;
  will-change: opacity;
}

h1,
h3,
span {
  color: white;
}
